* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #293264;
}

body {
  margin: 0;
  background-color: #F5F7FB;
}

/* bold font for title and questions Karla, other Inter*/
h1, h3 {
  font-family: Karla, sans-serif;
}

.intro-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}

.blob-one, .blob-two {
  position: absolute;
}

.blob-one {
  top: 0;
  right: 0;
}

.blob-two {
  bottom: 0;
  left: 0;
}

.intro-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-title {
  margin: 0;
}

.start-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  line-height: 19px;
  border: none;
  border-radius: 15px;
  padding: 1em 3.5em;
}